<h2><%= @user.name %>さんとのチャット</h2>
<table>
  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td colspan="3"></td>
        <td><%= chat.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_with model: @chat do |f| %>
    <%= f.text_field :message %>
    <%= f.hidden_field :room_id %>
<% end %>